### Convert Google Sheets into Rest API

- Copy and paste this code in App Script and Replace `Sheet name`
- Deploy as Web application and copy the link



```
function doGet(req) {
  var sheet = SpreadsheetApp.getActiveSpreadsheet().getSheetByName("Review");
  var data = sheet.getDataRange().getValues(); // Get all the data in the sheet
  var headers = data.shift(); // Remove the headers from the data and store them separately

  var json = [];

  for (var i = 0; i < data.length; i++) {
    var obj = {};
    for (var j = 0; j < headers.length; j++) {
      obj[headers[j]] = data[i][j];
    }
    json.push(obj);
  }
  return  ContentService.createTextOutput(JSON.stringify({data : json})).setMimeType(ContentService.MimeType.JSON);

}

```

In [12]:
import pandas as pd
import requests
import json

url = 'https://script.google.com/macros/s/AKfycbxM8W37dLRAqlLcKB-nEK6kf2yiVSziVVq2jx5QAnFHDPkPsv9zmHjioWwxArIxVlYb/exec'

response = requests.get(url)

if response.status_code == 200:
    json_data = response.json()["data"]
    df = pd.read_json(json.dumps(json_data))
else:
    print("Error occurred while retrieving data")

In [13]:
df.head()

,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0mie,4,No issues.,2014-07-22T18:30:00.000Z,138,0,0,0,0,0.0,0.0
1,0mie,5,"Purchased this for my device, it worked as adv...",2013-10-24T18:30:00.000Z,409,0,0,0,0,0.0,0.0
2,1K3,4,it works as expected. I should have sprung for...,2012-12-22T18:30:00.000Z,715,0,0,0,0,0.0,0.0
3,1m2,5,This think has worked out great.Had a diff. br...,2013-11-20T18:30:00.000Z,382,0,0,0,0,0.0,0.0
4,2&amp;1/2Men,5,"Bought it with Retail Packaging, arrived legit...",2013-07-12T18:30:00.000Z,513,0,0,0,0,0.0,0.0